{
	"printWidth": 80,
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-sql"
	],
	"overrides": [
		{
			"files": "constants.ts",
			"options": {
				"printWidth": 120
			}
		}
	]
}
