---
import { Image } from 'astro:assets';
import HeroImage from './hero.png';
import LogoImage from '@/images/logo.png';
const serviceName = 'Notion-Google Tasks Sync Service';
const syncTime = '5 minutes';
---

<div class="mt-24 sm:mt-0">
	<section class="flex flex-col items-center justify-center">
		<h1
			class="text-center text-5xl font-bold tracking-wide sm:text-6xl lg:px-4 lg:text-6xl xl:text-6xl"
		>
			Sync Tasks Real-Time
		</h1>
		<div class="mt-3 text-3xl font-bold sm:text-4xl">Notion & Google Tasks</div>
		<div class="my-10 w-[70%]">
			<Image src={HeroImage} alt="A bird sitting on a nest of eggs." />
		</div>
		<div class="max-w-xl text-center md:w-2/3">
			<p>
				Bridge your Notion and Google Tasks with our <br />
				<Image src={LogoImage} class="inline-block" height="40" alt="smth" />
				<span class="font-medium">{serviceName}</span>.
			</p>

			<p>
				Experience the convenience of <span class="font-bold">two-way</span>,
				<span class="font-bold">real-time</span> syncing at <span
					class="font-bold">no cost</span
				>.
			</p>
		</div>

		<div class="mt-10">
			<a
				href="#start-sync"
				class="block rounded-full bg-gray-800 px-12 py-4 text-2xl font-bold text-white hover:bg-gray-600"
				>Start Synching Now</a
			>
		</div>
	</section>

	<section class="mt-48 flex flex-col items-center justify-center">
		<h1
			class="text-5xl font-bold tracking-wide sm:text-6xl lg:px-4 lg:text-6xl xl:text-6xl"
		>
			Features
		</h1>
		<div class="mt-8 flex w-full max-w-4xl flex-wrap justify-center gap-6">
			<div class="card">
				<div class="card-title">Two-way 🔄</div>
				 Changes made in Google Tasks are reflected in Notion and vice versa.
			</div>
			<div class="card">
				<div class="card-title">Near Instant Sync ⚡️</div>
				<div>Your data is synced every {syncTime}.</div>
			</div>
			<div class="card">
				<div class="card-title">Secure 🔒</div>
				<div>
					Data is stored in encrypted Cloudflare D1 Storage, and we're compliant
					with Google's policies for handling user data. We store only the
					minimum required data (such as tasks IDs). We do not store the
					contents of your tasks.
				</div>
			</div>
			<div class="card">
				<div class="card-title">Data Safety</div>
				<div>
					We care about your data and we never delete it. We mark deleted Google
					tasks as archived in Notion. We mark deleted or archived Notion tasks
					as completed in Google.
				</div>
			</div>
			<div class="card">
				<div class="card-title">Free</div>
				<div>
					The service is provided completely free of charge. If you want to
					thank us, please do so 😊 by spreading the word.
				</div>
			</div>
		</div>
	</section>
</div>

<style>
	.card {
		@apply w-full rounded-2xl border-4 border-gray-800 p-3 sm:w-[40%];
	}
	.card-title {
		@apply text-center text-lg font-bold;
	}
</style>
