---
import { Image } from 'astro:assets';
import HeroImage from './hero.png';
---

<div>
	<section class="flex flex-col items-center justify-center">
		<h1
			class="px-8 text-5xl font-bold tracking-wide sm:px-8 sm:text-6xl md:px-20 lg:px-4 lg:text-6xl xl:text-6xl"
		>
			Real-Time Tasks Sync
		</h1>
		<div class="mt-3 text-4xl font-bold">Notion & Google Tasks</div>
		<div class="my-10 w-[70%]">
			<Image src={HeroImage} alt="A bird sitting on a nest of eggs." />
		</div>
		<p class="md:w-2/3">
			Synchronize your Notion and Google Tasks seamlessly and instantly.
			Experience the convenience of <span class="font-bold">two-way</span>,
			<span class="font-bold">real-time</span> syncing at <span
				class="font-bold">no cost</span
			>.
		</p>

		<div class="mt-10">
			<a
				href="#xxx"
				class="block rounded-full bg-gray-800 px-12 py-4 text-2xl font-bold text-white hover:bg-gray-600"
				>Start Synching Now</a
			>
		</div>
	</section>

	<section class="my-48 flex flex-col items-center justify-center">
		<h1
			class="px-8 text-5xl font-bold tracking-wide sm:px-8 sm:text-6xl md:px-20 lg:px-4 lg:text-6xl xl:text-6xl"
		>
			Features
		</h1>
		<div class="mt-8 flex w-full flex-wrap justify-center gap-4">
			<div class="card">
				<div class="card-title">Two-way</div>
				 Two-way syncronisation
			</div>
			<div class="card">
				<div class="card-title">Instant (almost) ⚡️</div>
				<div>Your data is synced every 5 minutes.</div>
			</div>
			<div class="card">
				<div class="card-title">Secure 🔒</div>
				<div>
					Data is stored in an encrypted storage. We don't store the data
					itself. Only access tokens of Github and Notion, mapping between the
					tasks and connected Google Tasklist id and Notion database id.
				</div>
			</div>
			<div class="card">
				<div class="card-title">Data safety</div>
				<div>
					We care about your data and we never delete it. Deleted Google tasks
					are archived in Notion. Deleted or archived Notion tasks are marked as
					completed in Google.
				</div>
			</div>
			<div class="card">
				<div class="card-title">Free</div>
				<div>
					The service is provided completely free of charge. If you want to
					thank us, please do so 😊 by spreading the word.
				</div>
			</div>
		</div>
	</section>
</div>

<style>
	.card {
		@apply rounded-2xl border-4 border-gray-800  p-3 sm:w-[40%];
	}
	.card-title {
		@apply text-center text-lg font-bold;
	}
</style>
