---
import { Image } from 'astro:assets';
import HeroImage from './hero.png';
import LogoImage from '@/images/logo.png';
const serviceName = 'Notion-Google Tasks Sync Service';
---

<div>
	<section class="flex flex-col items-center justify-center">
		<h1
			class="text-center text-5xl font-bold tracking-wide sm:text-6xl lg:px-4 lg:text-6xl xl:text-6xl"
		>
			Sync Tasks Real-Time
		</h1>
		<div class="mt-3 text-3xl font-bold sm:text-4xl">Notion & Google Tasks</div>
		<div class="my-10 w-[70%]">
			<Image src={HeroImage} alt="A bird sitting on a nest of eggs." />
		</div>
		<div class="max-w-xl text-center md:w-2/3">
			<p>
				Bridge your Notion and Google Tasks with our <br />
				<Image src={LogoImage} class="inline-block" height="40" alt="smth" />
				<span class="font-medium">{serviceName}</span>.
			</p>

			<p>
				Experience the convenience of <span class="font-bold">two-way</span>,
				<span class="font-bold">real-time</span> syncing at <span
					class="font-bold">no cost</span
				>.
			</p>
		</div>

		<div class="mt-10">
			<a
				href="#start-sync"
				class="block rounded-full bg-gray-800 px-12 py-4 text-2xl font-bold text-white hover:bg-gray-600"
				>Start Synching Now</a
			>
		</div>
	</section>

	<section class="mt-48 flex flex-col items-center justify-center">
		<h1
			class="text-5xl font-bold tracking-wide sm:text-6xl lg:px-4 lg:text-6xl xl:text-6xl"
		>
			Features
		</h1>
		<div class="mt-8 flex w-full max-w-4xl flex-wrap justify-center gap-6">
			<div class="card">
				<div class="card-title">Two-way</div>
				 Two-way syncronisation
			</div>
			<div class="card">
				<div class="card-title">Instant (almost) ⚡️</div>
				<div>Your data is synced every 5 minutes.</div>
			</div>
			<div class="card">
				<div class="card-title">Secure 🔒</div>
				<div>
					Data is stored in an encrypted storage. We don't store the data
					itself. Only access tokens of Github and Notion, mapping between the
					tasks and connected Google Tasklist id and Notion database id. We
					comply with Google Requirements for handling user data.
				</div>
			</div>
			<div class="card">
				<div class="card-title">Data safety</div>
				<div>
					We care about your data and we never delete it. Deleted Google tasks
					are archived in Notion. Deleted or archived Notion tasks are marked as
					completed in Google.
				</div>
			</div>
			<div class="card">
				<div class="card-title">Free</div>
				<div>
					The service is provided completely free of charge. If you want to
					thank us, please do so 😊 by spreading the word.
				</div>
			</div>
		</div>
	</section>
</div>

<style>
	.card {
		@apply w-full rounded-2xl border-4 border-gray-800 p-3 sm:w-[40%];
	}
	.card-title {
		@apply text-center text-lg font-bold;
	}
</style>
