---
import Layout from '@/layouts/Layout.astro';
import Main from '@/components/Main.tsx';
import type { KVDataT } from '@/types';
import { getTokensFromCookies } from '@/helpers/getTokens';

export const prerender = false;

// Check if user has authenticated
const { NOTION_GTASKS_KV, JWT_SECRET } = Astro.locals.runtime.env;
const gJwtToken = Astro.cookies.get('gtoken')?.value;
const nJwtToken = Astro.cookies.get('ntoken')?.value;
let isUserLoggedIn = false;
let kvData: KVDataT | null = null;
// TODO: verify permissions
const { gToken, nToken } = await getTokensFromCookies(
	gJwtToken,
	nJwtToken,
	JWT_SECRET,
);

// Handle Tokens: Save to KV if not present
if (gToken) {
	isUserLoggedIn = true;
	const userEmail = gToken.user.email;
	try {
		kvData = (await NOTION_GTASKS_KV.get(userEmail, {
			type: 'json',
		})) as KVDataT;
		if (!kvData) {
			// set KV data
			kvData = { gToken, ...(nToken && { nToken }) } as KVDataT;
			await NOTION_GTASKS_KV.put(userEmail, JSON.stringify(kvData));
		} else {
			// Update KV Data if it misses nToken
			if (!kvData.nToken && nToken) {
				kvData.nToken = nToken;
				await NOTION_GTASKS_KV.put(userEmail, JSON.stringify(kvData));
			}
		}
	} catch (error) {
		console.error('ERROR', error);
		kvData = null;
		isUserLoggedIn = false;
	}
}
---

<Layout title="Welcome to Astro.">
	<main class="m-10">
		<h1 class="text-4xl">Notion <=> Google Tasks two-way sync</h1>
		<Main
			client:load
			isUserLoggedIn={isUserLoggedIn}
			tasklistId={kvData?.gTasksListId}
		/>
	</main>
</Layout>

<style></style>
