---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero/Hero.astro';
import Main from '@/components/Main.tsx';
import { decodeJWTTokens } from '@/helpers/decodeJWTTokens';

export const prerender = false;

const { JWT_SECRET } = Astro.locals.runtime.env;
const gJwtToken = Astro.cookies.get('gtoken')?.value;
const nJwtToken = Astro.cookies.get('ntoken')?.value;
let hasGToken = false;
try {
	const tokens = await decodeJWTTokens(gJwtToken, nJwtToken, JWT_SECRET);
	hasGToken = !!tokens.gToken;
} catch (error) {
	console.error('Error while decoding JWT tokens', error);
	Astro.cookies.set('gtoken', '', { expires: new Date(0) });
	Astro.cookies.set('ntoken', '', { expires: new Date(0) });
}
---

<Layout>
	<div class="container mx-auto mt-20 p-8">
		<Hero />
	</div>

	<section class="my-48 flex flex-col items-center justify-center">
		<h1
			id="start-sync"
			class="px-8 text-5xl font-bold tracking-wide sm:px-8 sm:text-6xl md:px-20 lg:px-4 lg:text-6xl xl:text-6xl"
		>
			Start Syncing
		</h1>
		<Main client:load hasToken={!!hasGToken} />
	</section>

	<section class="my-48 flex flex-col items-center justify-center">
		<h1
			class="px-8 text-5xl font-bold tracking-wide sm:px-8 sm:text-6xl md:px-20 lg:px-4 lg:text-6xl xl:text-6xl"
		>
			Limitations
		</h1>
		<div class="mt-8 flex w-full flex-wrap justify-center gap-4">
			TODO
			<ul>
				<li>1. sync title only</li>
				<li>2. no support for tasks hierarchy</li>
			</ul>
		</div>
	</section>

	<footer
		class="flex flex-col items-center justify-center bg-slate-800 py-12 text-white"
	>
		<div>
			Made by &nbsp;<a href="https://alexei.me" class="underline"
				>Alexey Antipov</a
			>
		</div>
		<div>TODO: add placeholders for Github and Twitter</div>
	</footer>
</Layout>

<style></style>
