---
import Layout from '@/layouts/Layout.astro';
import jwt from '@tsndr/cloudflare-worker-jwt';
import * as googleApi from '@helpers/google-api';
import Main from '@/components/Main.tsx';
import type { KVDataT } from '@/types';

export const prerender = false;

// Check if user has authenticated
const runtime = Astro.locals.runtime;
const jwtToken = Astro.cookies.get('token');
let isUserLoggedIn = false;
let userInfo = null;
let jwtTokenData = null;
let kvData = null;
// TODO: verify permissions
let hasProperGooglePermissions = false;
if (jwtToken?.value) {
	try {
		const isValid = await jwt.verify(jwtToken.value, runtime.env.JWT_SECRET);
		jwtTokenData = await jwt.decode(jwtToken.value);
		userInfo = await googleApi.fetchUserInfo(jwtTokenData.payload.accessToken);
		kvData = (await runtime.env.NOTION_GTASKS_KV.get(userInfo.email, {
			type: 'json',
		})) as KVDataT;
		isUserLoggedIn = true;
	} catch (error) {
		console.error('ERROR', error);
	}
}

console.log('isUserLoggedIn', isUserLoggedIn);
---

<Layout title="Welcome to Astro.">
	<main class="m-10">
		<h1 class="text-4xl">Notion <=> Google Tasks two-way sync</h1>
		<Main
			client:load
			isUserLoggedIn={isUserLoggedIn}
			jwtTokenData={jwtTokenData}
			tasklistId={kvData?.gTasksListId}
		/>
	</main>
</Layout>

<style></style>
