---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero/Hero.astro';
import Main from '@/components/Main.tsx';
// export const prerender = false;
---

<Layout>
	<Hero />

	<section class="my-32 flex flex-col items-center justify-center">
		<h1
			id="start-sync"
			class="text-5xl font-bold tracking-wide sm:text-6xl md:px-20 lg:text-6xl xl:text-6xl"
		>
			Start Syncing
			<div class="mt-2 text-center text-3xl">in 3 steps</div>
		</h1>

		<Main client:load />
	</section>

	<section class="mb-36 mt-24 flex flex-col items-center justify-center">
		<h1
			class="px-8 text-5xl font-bold tracking-wide sm:px-8 sm:text-6xl md:px-20 lg:px-4 lg:text-6xl xl:text-6xl"
		>
			Limitations
		</h1>
		<div class="mt-8 flex w-full max-w-2xl justify-center">
			<ul class="list-disc space-y-2 pl-6">
				<li>
					Only tasks' "<span class="font-mono">Title</span>", "<span
						class="font-mono">Date</span
					>", and "<span class="font-mono">Status</span>" properties are synced.
					Tasks descriptions are not synced.
				</li>
				<li>Tasks hierarchy is not supported.</li>
				<li>No support for multiple Google Tasklists and Notion databases.</li>
				<li>
					Synchronizaion of tasks' time is unfortunately not supported due to
					the limitations of the Google Tasks API.
				</li>
				<li>
					Notion Database should be configured to have properties of the
					following types: "<span class="font-mono">Status</span>", "<span
						class="font-mono">Date</span
					>", "<span class="font-mono">Last edited time</span>" and "<span
						class="font-mono">Last Edited By</span
					>". "<span class="font-mono">Status</span>" property should have the
					following options: "<span class="font-mono">To Do</span>", "<span
						class="font-mono">Done</span
					>".
				</li>
			</ul>
		</div>
	</section>
</Layout>
