---
import Layout from '@/layouts/Layout.astro';
const serviceName = 'Notion Google Tasks Sync Service';
const updatedOn = '2023-11-22';
---

<Layout title="Privacy Policy">
	<div class="container mx-auto max-w-2xl p-4">
		<a href="/" class="text-blue-500 hover:text-blue-700">Go to Home Page</a>

		<h1 class="mb-4 mt-4 text-xl font-bold">
			Privacy Policy for {serviceName}
		</h1>
		<p><strong>Effective Date:</strong> {updatedOn}</p>

		<section class="mt-6">
			<h2 class="text-lg font-semibold">Information We Collect</h2>
			<p>
				We collect and store the following information when you synchronize your
				Notion Database with Google Tasks:
			</p>
			<ul class="ml-6 list-disc">
				<li>Google's Access Token and Refresh Token</li>
				<li>Notion's Access Token</li>
				<li>Google Tasks' Tasklist ID</li>
				<li>Notion's Database ID</li>
				<li>Date of Synchronization Establishment</li>
				<li>
					Mapping Information between Google Tasks and Notion Database items
				</li>
			</ul>
		</section>

		<section class="mt-6">
			<h2 class="text-lg font-semibold">How We Use Your Information</h2>
			<p>
				The collected information is used solely for providing our
				synchronization service.
			</p>
		</section>

		<section class="mt-6">
			<h2 class="text-lg font-semibold">Storage and Security</h2>
			<p>
				We use Cloudflare Workers KV for data storage and have implemented
				security measures to protect your information.
			</p>
		</section>

		<section class="mt-6">
			<h2 class="text-lg font-semibold">Your Rights and Choices</h2>
			<p>
				You can access, modify, or request deletion of your data by contacting
				us at antipov.alexei@gmail.com.
			</p>
		</section>

		<section class="mt-6">
			<h2 class="text-lg font-semibold">Changes to Our Privacy Policy</h2>
			<p>
				We reserve the right to modify this policy and will post changes on this
				page.
			</p>
		</section>

		<section class="mt-6">
			<h2 class="text-lg font-semibold">Reporting Issues</h2>
			<p>
				Questions, feature requests, or issues can be reported by creating an
				issue in our <a
					href="https://github.com/aantipov/notion-google-tasks-sync/issues"
					class="text-blue-500 hover:text-blue-700">GitHub repository</a
				>.
			</p>
		</section>

		<section class="mb-8 mt-6">
			<h2 class="text-lg font-semibold">Contact Us</h2>
			<p>
				If you have any other questions about this policy, contact us at
				antipov.alexei@gmail.com.
			</p>
		</section>
	</div>
</Layout>
